@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Hubballi&family=Open+Sans:wght@500&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
}
html, body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}
.navbar {
    border: none;
    outline: none;
    background-color: aliceblue;
    padding: 10px;
}
.navbar h1{
    font-weight: bold;
    float: left;
    text-align: center;
    color: green;
    border: none;
    outline: none;
    font-size: 25px;
}
.navbar h1 span {
    color: grey;
    font-size: 15px;
}
.navbar h3 {
    float: right;
    padding: 10px;
    display: flex;
    text-align: center;
}
.navbar h3 p a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
.navbar h3 p a:hover {
    text-decoration: underline;
}
.navbar h3 p i {
    color: green;
    font-size: 20px;
    margin-right: 10px;
}
.navbar h3 #v {
    border: 1px solid green;
    font-size: 20px;
    height: 25px;
    margin: 0px 10px;
}
#imgCarousel {
    margin-top: -20px;
}
#img {
    height: 550px;
}
.dashed-border {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px dashed grey;
}
.about {
    margin: 50px 0px;
}
.about h1, .quality h1, .main-content h1 {
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
}
.about p {
    text-indent: 50px;
    font-size: 20px;
    font-weight: bold;
}
.quality {
    margin: 50px 0px;
}
.quality h1 span {
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.quality ul {
    margin-left: 50px;
}
.quality ul li {
    font-size: 20px;
    font-weight: bold;
}
.main-content {
    margin: 10px auto;
}
div.gallery {
    border: 1px solid #ccc;
    border-radius: 10px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    padding: 5px;
    bottom: 0%;
    background-color: rgb(192, 192, 192);
}
.footer h5, .footer h6 {
    font-weight: bold;
    text-align: center;
}
.footer h6 {
    font-size: 15px;
}
.footer h5 {
    font-size: 20px;
}
.footer h5 a{
    color: green;
}
#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 30;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}
#upBtn:hover {
    background-color: #555;
}

@media only screen and (max-width: 1300px) {
    .navbar {
        padding: 7px;
    }
    .navbar h1{
        font-size: 20px;
    }
    .navbar h1 span {
        font-size: 13px;
    }
    .navbar h3 {
        padding: 5px;
    }
    .navbar h3 p a {
        font-size: 20px;
    }
    .navbar h3 p i {
        font-size: 15px;
        margin-right: 7px;
    }
    .navbar h3 #v {
        font-size: 20px;
        height: 25px;
        margin: 0px 10px;
    }
}
@media only screen and (max-width: 1100px) {
    .navbar {
        padding: 7px;
    }
    .navbar h1{
        float: none;
        font-size: 20px;
    }
    .navbar h1 span {
        font-size: 13px;
    }
    .navbar h3 {
        float: none;
        padding: 5px;
        width: 50%;
        margin: 0px auto;
    }
    #img {
        height: 450px;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar h3 {
        display: block;
    }
    .navbar h3 p a {
        font-size: 20px;
    }
    .navbar h3 p i {
        font-size: 20px;
        margin-right: 10px;
    }
    .navbar h3 #v {
        display: none;
    }
    #img {
        height: 400px;
    }
    .about p {
        font-size: 17px;
    }
    .about h1, .quality h1, .main-content h1 {
        font-size: 30px;
    }
    .quality h1 span {
        font-size: 15px;
    }
    .quality ul {
        margin-left: 50px;
    }
    .quality ul li {
        font-size: 17px;
        font-weight: bold;
    }
}
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    .navbar h3 {
        width: 90%;
    }
    #img {
        height: 350px;
    }
    .quality ul {
        margin-left: 20px;
    }
    footer h6 {
        font-size: 10px;
    }
    .footer h5 {
        font-size: 15px;
    }
    #upBtn {
        bottom: 10px;
        right: 20px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .responsive {
        width: 100%;
    }
    #upBtn {
        bottom: 10px;
        right: 10px;
        font-size: 15px;
    }
}